@import "./_variables.scss";

.App {
    text-align: center;

    .info {
        margin-left: 200px;
        margin-top: 100px;
        

        .opening-page {
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: translateY(-100px);
            

            h1 {
                font-size: 50px;
                color: $PURPLECOLOR;
            }

            h2 {
                font-size: 35px;
                color: $PURPLECOLOR;
            }
        }

        .table-info {
            
            h1 {
                font-size: 50px;
                margin-bottom: 50px;
            }

            table{
                width: 80%;
                margin: auto;
                thead {
                    width: 100%;
                    background-color: $PURPLECOLOR;
                    height: 40px;
                    color: white;

                    th {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                tbody {
                    .even {
                        background-color:$PURPLECOLORDARKER; 
                    }

                    .odd {
                        background-color:azure;
                    }

                    tr {
                        height: 30px;
                    }
                }
            }
        }

        .first-table {
            tr {
                width: 100%;
                th:nth-of-type(1) {
                    width: 15%;
                }
                th:nth-of-type(2) {
                    width: 20%;
                }
                th:nth-of-type(3) {
                    width: 20%;
                }
                th:nth-of-type(4) {
                    width: 45%;
                }
            }
        }
        
        .second-table {
            tr {
                width: 100%;
                th:nth-of-type(1) {
                    width: 20%;
                }
                th:nth-of-type(2) {
                    width: 40%;
                }
                th:nth-of-type(3) {
                    width: 40%;
                }
            }
        }

        .third-table {
            tr {
                width: 100%;
                th:nth-of-type(1) {
                    width: 20%;
                }
                th:nth-of-type(2) {
                    width: 30%;
                }
                th:nth-of-type(3) {
                    width: 50%;
                }
            }
        }

        .fourth-table {
            tr {
                width: 100%;
                th:nth-of-type(1) {
                    width: 20%;
                }
                th:nth-of-type(2) {
                    width: 40%;
                }
                th:nth-of-type(3) {
                    width: 40%;
                }
            }
        }
    }
}


@media (max-width: $MEDIUMSCREEN) {
    .App {
        .info {
            margin-left: 150px;

            // .opening-page {
            //     transform: translateY(150px);
            //     height: 70vh;
            // }

            .table-info {
                h1 {
                    font-size: 30px;
                }

                table{ 
                    thead {
                        font-size: 13px;
                    }

                    tbody {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width: $SMALLSCREEN) {
    .App {
        .info {
            // margin-left: 150px;
            margin: 20px;
            transform: translateY(150px);

            // .table-info {
            //     transform: translateY(150px);
            // }
            .opening-page { 
                transform: translateY(50px);
            }
        }
    }
}